<div class="landing">

<div class="background">
    <div class="content">
        <h1 class="h1black"> CAPTAL </h1>
    </div>
</div>


<div class="title-center ">
    <h1 class="title1"> GROW YOUR BUSINESS WITH US</h1>
</div>

<div class="title-center2 ">
    <p class="title2">We are team of designers and developers, Who Help with
                      Big Ideas.</p>
</div>

<div class="body-content">
<section class="features text-center">
    <div class="feature">
        <%= fa_icon "globe 5x" , class: 'icon-settings' %>

        <h1 class="title-text" title-center>Web Design & Development</h1>

        <p class="text"> Web design encompasses many different skills and
         disciplines in the production and maintenance of websites.
         The different areas of web design that we serve in includes web
         graphic design, interface design, authoring, including standardized
         code and proprietary software, user experience design and search engine
         optimization. </p>
    </div>

    <div class="feature ">
        <%= fa_icon "android  5x" , class: 'icon-settings' %>

        <h1 class="title-text" title-center>Android Application Development</h1>

        <p class="text2"> Do you want your own Android application? Our Android
          app developers are committed to develop the apps that are bound to
          reach quickly to the targeted groups. </p>
    </div>

    <div class="feature ">
        <%= fa_icon "apple  5x" , class: 'icon-settings' %>

        <h1 class="title-text" title-center>iOS Application Development</h1>

        <p class="text"> We have best experienced iOS development team at
          CAPTAL SDN BHD, who will research well your business &
          organization and see all requirements to develop an application
          and helping business process to reach the goal. </p>
    </div>

    <div class="feature ">
      <%= fa_icon "laptop 5x" , class: 'icon-settings' %>

      <h1 class="title-text" title-center>Software Development</h1>

      <p class="text">Our desktop application development services provide
        you with an efficient, user-friendly and customized desktop application
        that can run offline and independent of web-browser. </p>
    </div>
</section>



<section class="features2 text-center">
    <div class="feature2 ">
        <%= fa_icon "rocket 5x" , class: 'icon-settings' %>

        <h1 class="title-text" title-center>Hosting Service</h1>

        <p class="text2"> We provides very cheap hosting services like web
          hosting, email hosting, dedicated server hosting, re-seller hosting
          at CAPTAL SDN BHD. </p>
    </div>

    <div class="feature2 ">
      <%= fa_icon "search 5x" , class: 'icon-settings' %>

      <h1 class="title-text" title-center>SEO Service</h1>

      <p class="text2">Getting a website on WWW is an easy task, but "making
        your website to appear on first page of Google" is a difficult task!
        We at CAPTAL SDN BHD provides Search Engine Optimization (SEO)
        service at very minimal cost. </p>
    </div>
</section>

</div>


<!--
<div class="img-container">
  <div class="img">
    <div class="invisible-layout">
        <div class="content2">
            <h2>D</h2>
        </div>
      </div>
    <%= image_tag "small1.jpg" , class: 'image-settings' %>
  </div>


  <div class="img">
    <div class="invisible-layout">
        <div class="content2">
              <h2>U</h2>
        </div>
      </div>
    <%= image_tag "small2.jpg" , class: 'image-settings' %>
  </div>


  <div class="img">
    <div class="invisible-layout">
        <div class="content2">
            <h2>C</h2>
        </div>
      </div>
    <%= image_tag "small3.jpg" , class: 'image-settings' %>
  </div>


  <div class="img">
    <div class="invisible-layout">
        <div class="content2">
            <h2>K</h2>
        </div>
      </div>
    <%= image_tag "small4.jpg" , class: 'image-settings' %>
  </div>
  </div> -->
<!-- <section class="features2 text-center">
<div class="body-content2">

  <div>
<h1 class="contact-title">Why Choose Us?</h1>

<hr class="line">

</hr>
</div>
<p class="contact-text" > MindLogic Solutions offers a great service in the
 design, development, programming and marketing of your website.
 We strive to offer the best solution for your business and impartial
 advice at honest price. We are constantly investigating new technologies and
 recommend them when they make sense. We love what we do, some might say a bit
 too much and we bring enthusiasm and commitment to every project we work on.
 Put simply, if you want a partner who cares about your business choose
 MindLogic Solutions. </p>
</div>
</section> -->

<div class="body-content3">
<section class="contact-title text-center">
<div class="feature3 ">
    <h1 class="title-text" title-center>Why Choose Us?</h1>
<hr class="short-underline">
</hr>
  <p class="text2">CAPTAL offers a great service in the
   design, development, programming and marketing of your website.
   We strive to offer the best solution for your business and impartial
   advice at honest price. We are constantly investigating new technologies and
   recommend them when they make sense. We love what we do, some might say a bit
   too much and we bring enthusiasm and commitment to every project we work on.
   Put simply, if you want a partner who cares about your business choose
   CAPTAL. </p>
</div>
</section>
</div>
  <!-- <section class="features text-center">
    <div class="feature">
         <%= fa_icon "phone  4x" , class: 'icon-settings2' %>

         <p> +014 947 5759</p>

    </div>

    <div class="feature">
         <%= fa_icon "envelope-o  4x" , class: 'icon-settings2' %>

         <p> hello@mail.com</p>

    </div>

  </section> -->
</div>
