<div class="user new">

    <%= form_for(@user, url: user_path(@user), html: { id: "user-update-form" }) do |f| %>

    <h1 class="text-center">
        Edit User
    </h1>

    <div class="users">

        <div class="form-group">
            <div id="preview-image">
                <% if @user.image? %>
                <%= image_tag @user.image, class: "img-settings img-responsive center-block" %>
                <% end %>
            </div>
        </div>

        <div class="form-group">
            <%= f.file_field :image, id: "user_image_field", class: 'form-control image-uploader' %>
        </div>

        <div class="form-group">
            <h4>
                <%= f.label :username_field, "Username" %>
            </h4>
            <%= f.text_field :username, id: "username_field", class: 'form-control' %>
        </div>

        <div class="form-group">
            <h4>
                <%= f.label :email_field, "Email" %>
            </h4>
            <%= f.text_field :email, id: "email_field", class: 'form-control' %>
        </div>

        <div class="form-group text-center">
            <input name="commit" value="Update!" class="btn btn-primary btn-lg" data-disable-with="Update" type="submit">
        </div>

        <% end %>
    </div>

</div>
